<!DOCTYPE html>
 <html>
    <head>
        <title>로또번호 추천</title>
    </head>
    <body>
        <h1>로또번호 추천</h1>
        <p>당신에게 주는 추천 로또 번호는 : <%= @lotto %></p>
        <!--<p>당신에게 주는 추천 로또 번호는 : <%= (1..45).to_a.sample(6) %></p>-->
    </body>
</html>